@charset "UTF-8";

	
.erreur{
	background-color: #6f1c1c;
    color: #fff;
    text-align: center;
    margin: auto;
    justify-content: center;
    display: flex !important;
}

.succes
{
	background-color :green;
	color:#fff
}

.erreur label{
	text-align: center;
    margin: auto;
    justify-content: center;
}