@charset "UTF-8";

main{
    margin-left: 245px;
}

*{
   }

@media only screen and (max-width: 1000px) {
    main{
      
        
    }
    aside{
       display:none; 	
    }
    
    d-mini{
		display:contents; 	
	}
}

.d-none{
	display:none; 	
}

d-mini{
	display:none; 	
}

.main-left-rm{
    margin-left: 0 !important;
}