@charset "UTF-8";

:root{
	display: contents;
    height: 100%;
    width: 100%;
    background-color:#fbd2b6
}

body{
	display: flex;
    justify-content: center;
    height: 100%;
}
.containt{
	display:flex;
	justify-content:center;
	margin:auto;
	height:500px;
	width:350px;
	background-color :#000333;
	flex-direction:column;
	color:#fff;
	align-items:center;
	border-radius:20px;
	text-align:center
	
}



.containt > img{
	height:150px;
	width:150px;
	
}

.containt > #welcome{
	font-size:20px;
	font-weight:bold;
	
}

.containt > #msg{
	font-size:15px;
	font-weight:100;
	
}

.erreur{
	background-color :red;
	color:#fff;
	padding:5px
}
