<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
	<servlet>
	  <description></description>
	  <display-name>HomeServlet</display-name>
	  <servlet-name>HomeServlet</servlet-name>
	  <servlet-class>com.ballo.servlets.HomeServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	  <servlet-name>HomeServlet</servlet-name>
	  <url-pattern>/acceuil</url-pattern>
	</servlet-mapping>
	 <display-name>HomeServlet</display-name>
	  <welcome-file-list>
	    <welcome-file>pages/login.jsp</welcome-file>
	  </welcome-file-list>
</web-app>
